*.class
*.pyc
*.pyo
Thumbs.db
.DS_Store
.project
.pydevproject
/.settings/*
*.sublime-project
*.sublime-workspace
hfunding/databases/*
hfunding/logs/*.log
hfunding/uploads/*
hfunding/private/*
hfunding/static/gen/*
hfunding/static/bs3/*
hfunding/static/.webassets-cache/*
*.haml.html
