- extend 'layout.haml'

.content
    .container
        %br
        .row
            .col-lg-6.col-lg-offset-3
        .row
            .col-lg-6.col-lg-offset-3
                %h1 Create new campaign
                = form
